.dataHead {
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;

    width: 75rem;
    height: 35px;
    background: #383737 0% 0% no-repeat padding-box;
    border-radius: 3px 3px 0px 0px;
    opacity: 1;
    color: aliceblue;
}

.dataHead :nth-child(1) {
    width: 8%;
}

.dataHead :nth-child(2) {
    width: 16%;
}

.dataHead :nth-child(3) {
    width: 11%;
}

.dataHead :nth-child(4) {
    width: 6%;
}

.dataHead :nth-child(5) {
    width: 8%;
}

.dataHead :nth-child(6) {
    width: 7%;
}

.dataHead :nth-child(7) {
    margin-left: .5rem;
}

.dataHead :nth-child(8) {
    margin-left: 2.8rem;
}

.dataHead :nth-child(9) {
    margin-left: 12.8rem;
}

.dataItem {
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EAEDF0;
    opacity: 1;
    width: 75rem;
    height: 35px;
    align-items: center;

}

.one {
    width: 8%;
}

.two {
    width: 16%;
}

.three {
    width: 15%;
}

.four {
    width: 7%;
}

.five {
    width: 12%;
}

.six {
    width: 6.3%;
}

.seven {
    width: 8%;
    font-weight: bold;
    letter-spacing: 0px;
    color: #5861AE;
    opacity: 1;

}

.eight {
    width: 12%;
}

.nine {
    width: 9%;
    margin-right: -105px;
}

.ten {
    position: relative;
    margin-left: 136px;
    z-index: 1;

}

.canclebtn {
    font: normal normal normal 12px/48px Open Sans;
    letter-spacing: 0px;
    color: #EB1717;
    opacity: 1;
    cursor: pointer;

}

.eyebtn {
    cursor: pointer;
}

.red {
    font-weight: bolder;
    color: #EB1717;
}