/* #checkout{
    width:55%;
    height: 100vh;
    border: 1px solid rebeccapurple;
    position: relative;
    top: -653px;
    left: 506px;
    background-color: white;
} */

#title-checkout{
    background-color: #5861AE;
}

#summary{
    color: #FFFFFF;
    display: inline-block;
     margin-right: 65%;
    margin-left: 4%; 

}

#close{
    background-color: #5861AE;
    border: 1px solid #5861AE;
    color: #FFFFFF;
    font-size: 2rem;
    cursor: pointer;
}

#store-details{
    background-color: #F4F9FF;
    height: 150px;
}
#store-add{
    margin-top: 25px;
    margin-left: 12px;
}
#store-tel{
    margin-top: 25px;
    margin-left: 12px;
}

#add-select{
    background-color: #F4F9FF;
    /* margin-top: 12px; */
    border: 1px solid #F4F9FF;
    border-bottom: 1px solid #3E3F40;
}
#order-details{
    margin-top:10px;
    margin-left:10px;
}

#list-row{
    margin-left: 5px;
    border-bottom: 1px solid #3E3F40;
}
#list-name{
    display: inline;
    margin-right: 150px;
}
#eq-row{
    margin-right: 90px;
}
#type-list{
    margin-right: 90px;
}

#tot{
    font-size: 20px;
    color: #39418a;
}

#subtotal{
    display: block;
    font-size: 20px;
    position: relative;
    top: 10px;
}
#delivery-charges{
    display: inline;
    font-size: 20px;
    
}
#final-total{
    text-align: right;
    background-color: #39418a;
    color: #F4F9FF;
    position: relative;
    top: -10px;
}

#confirm-order-btn-disabled{
    background: #a6ace5 0% 0% no-repeat padding-box;
    border-radius: 4px;
    border: 2px solid #a6ace5;
    opacity: 1;
    color: whitesmoke;
    position: relative;
    top: 43px;
    left: 30px;width: 125px;
    height: 35px;
    font-size: 18px;

}

#confirm-order-btn{
    cursor: pointer;
    background: #5861AE 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    color: whitesmoke;
    border: 2px solid #5861AE;
    position: relative;
    top: 43px;
    left: 30px;
    width: 125px;
    height: 35px;
    font-size: 18px;

}
#user-address{
    position: relative;
    top: -5px;
    left: 12px;
}
/* #add-option{
    border: 1px solid #898c8f;
    border-radius: 4px;
    height: 10%;
    width: 38%;
} */
#add-option{
    border: 2px solid #5861AE;
    border-radius: 4px;
    height: 10%;
    width: 38%;
}
#add-details{
    position: relative;
    
}
#add-list{
    position: relative;
    top: 15px;
}

#add-new-address{
    background-color: white;
    border: 2px solid white;
    cursor: pointer;
    font-size: 1.5rem;
    color: #5861AE;
    position: relative;
    top: -36px;
    right: -306px;

}