.footertext {
    position: absolute;
    text-align: center; /* Center the text horizontally */
    display: flex; /* Center the text vertically */
    align-items: center;
    justify-content: center;
    top: 117%;
    left: 0px;
    width: 100%;
    height: 50px;
    background: #182838 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    color: #FFFFFF;
}